{% extends "layout.html" %}

{% block title %} Issue Test {% endblock %}

{% block content %}

<style>
    /* input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    } */
</style>
<div class="form1">
    <h1 style="color: #164863; "> Search Test </h1>


    <form action="" method="POST" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
        <label for="customer_id" style="font-weight: bold; font-size: large; color: #164863;">Test Name</label>
        <input type="text" class="text1" name="tname" id="tname" required
            style="width: 250px; padding: 7px 5px; border: solid 2px rgb(31, 21, 21); border-radius: 5px;"><br><br>

        <button class="ibutton" type="submit"
            style="padding: 8px 15px; border: none; border-radius: 4px; background-color: #4CAF50; color: white; cursor: pointer;">Issue</button>
    </form>

</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p style="font-weight: bolder; font-size: larger; color: red; text-align: center;"> {{ msg }} </p>
{% endfor %}
{% endif %}
{% endwith%}
<div>
    {% if patient %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>RATE</th>

        </tr>

        <tr>
            <td> {{ patient.tid }} </td>
            <td> {{ patient.tname }} </td>
            <td> {{ patient.tcharge }} </td>
        </tr>
    </table>


    {% else %}

    <h3 style="color: red; text-align: center;">No Tests!</h3>
    {% endif %}

</div>

{% endblock %}